html, 
body {
            background-color: skyblue;
            margin-left: 25px;
            margin-right: 25px;
            
       }
h1 {
      position: relative;
    float: center;
    text-decoration: bold;
    font-style: comic;
    font-size: 50px;
    width: 95%;
    margin: 0%;
    border: 3px;
    border-block-end-style: solid;
    height: 100px;
}
h2 {
      position: relative;
    float: center;
    text-decoration: underline;
    font-style: comic;
    font-size: 25px;
    margin-left:30%;
    margin-top: 0%;
    width: 30%
}
h3 {
    background-color: #726d6e;
    font-size: 40px;
}
 .img1 {
     position: relative;
    padding: 5px;
    width: 40%;
    height: 250px;
}
 .img2 {
     position: relative;
    padding: 5px;
    width: 40%;
    height: 250px;
    float: right;
}
.img3 {
     position: relative;
    padding: 5px;
    width: 40%;
    height: 250px;
    float: center;
    margin-left: 30%;
}
.img4 {
     position: relative;
    padding: 5px;
    width: 40%;
    height: 250px;
    float: bottom;
    margin-left: 30%;
}
.img5 {
     position: relative;
    padding: 5px;
    width: 40%;
    height: 250px;
    float: center;
    margin-left: 30%;
}
.img6 {
     position: relative;
    padding: 5px;
    width: 40%;
    height: 250px;
    float: center;
    margin-left: 30%;
}
.img7 {
     position: relative;
    padding: 5px;
    width: 40%;
    height: 250px;
    float: center;
    margin-left: 30%;
}
.img8 {
     position: relative;
    padding: 5px;
    width: 40%;
    height: 250px;
    float: center;
    margin-left: 30%;
}
.img9 {
     position: relative;
    padding: 5px;
    width: 40%;
    height: 250px;
    float: center;
    margin-left: 30%;
}
.img10 {
     position: relative;
    padding: 5px;
    width: 40%;
    height: 250px;
    float: center;
    margin-left: 30%;
}
.img11 {
     position: relative;
    padding: 5px;
    width: 40%;
    height: 250px;
    float: center;
    margin-left: 30%;
}
.img12 {
     position: relative;
    padding: 5px;
    width: 40%;
    height: 250px;
    float: center;
    margin-left: 30%;
}
.img13 {
     position: relative;
    padding: 5px;
    width: 40%;
    height: 250px;
    float: center;
    margin-left: 30%;
}
.img14 {
     position: relative;
    padding: 5px;
    width: 40%;
    height: 250px;
    float: center;
    margin-left: 30%;
}
.img15 {
     position: relative;
    padding: 5px;
    width: 40%;
    height: 250px;
    float: center;
    margin-left: 30%;
}
.img16 {
     position: relative;
    padding: 5px;
    width: 40%;
    height: 250px;
    float: center;
    margin-left: 30%;
}
.img17 {
     position: relative;
    padding: 5px;
    width: 40%;
    height: 250px;
    float: left;
    margin-left: 30%;
}
nav, ul {
      position: relative;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color:black;
}
li {
      position: static;
    display: block;
    font-size: 20px;
    float: left;
    height: 100%;
    width: 14%;
    text-align: center;
    line-height: 50px;
    margin-left: 5%;
}
.footer {
  background:#191919;
  color:white;
  margin-top:5%;
 text-align:center;
  font-size: 25px;
 width: 95%x;
 height: 200px;
  font-family: 'Open Sans', sans-serif;
}
